<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Accept a payment</title>
    <meta name="description" content="A demo of a payment on Stripe" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="app/template/default/Checkout/checkout.css" />
    <link rel="stylesheet" href="app/template/default/Checkout/base.css" />
    <script src="https://js.stripe.com/v3/"></script>
    <script defer src="app/template/default/Checkout/checkout.js"></script>
  </head>
  <body>
    <div id="main">
      <div id="container">
        <div id="panel">
          <p id="stripe-pk" style="display: none;">{{stripePK}}</p>
          <form id="payment-form" name="payment-form" method="POST" action="{{ path('send-checkout') }}">
            <div>
              <label for="card-select" id="card-select-label" style="cursor: pointer;">Available Card</label>
              <select name="card-select" id="card-select" required>
                <option value="" selected>--Please Select--</option>
                {% for card in cards %}
                <option value="{{ card.tokenId }}">Card {{ card.id }}</option>
                {% endfor %}
              </select>
              <label for="card-element" id="card-element-label" style="cursor: pointer;">Press new card</label>
              <div id="card-element"></div>
            </div>
            <input type="hidden" name="token" id="token" />
            <input type="hidden" name="total_price" id="total_price" />
            <button id="button">Pay</button>
          </form>
        </div>

        <div style="margin-top: 30px;">
        {% for msg in app.session.flashBag.get('success') %}
          {{ msg}}
        {% endfor %}
        </div>
      </div>
    </div>
    
    <script>
      var totalPrice = 0;
      {% for order in orders %}
        totalPrice += {{ order.payment_total  }}
      {% endfor %}
    </script>
  </body>
</html>